<p>Please input the current power and boost power</p>
<input type="number" [(ngModel)]="power">
<input type="number" [(ngModel)]="boost">
{{ power | hero : boost }}
<br>
<br>
<br>
<p>Please add a hero</p>
<input type="text" #box (keyup.enter)="addHero(box.value); box.value = ''" placeholder="hero name">
<br>
<label for="">Can Fly:</label>
<input type="checkbox" [(ngModel)]="canFly">
<br>
<label for="">Mutate Arr:</label>
<input type="checkbox"  [(ngModel)]="mutateArr">
<br>
<button (click)="reset()">Reset</button>
<p>Hero with pipe that can fly</p>
<ul *ngFor="let hero of ( heroes | flyingHero )">
    <li>{{ hero.name }}</li>
</ul>
<br>
<p>All Hero without pipe</p>
<ul *ngFor="let hero of heroes">
    <li>{{ hero.name }}</li>
</ul>


=> If you mutate the array, no pipe is invoked and the display isn't updated; if you replace the array, the pipe executes and the display is updated.
It like the state in React, state is tranform into another value, so if you not mutate the state, it do not know what is updated.

Impure pipe:
Angular executes an impure pipe during every component change detection cycle. An impure pipe is called often, as often as every keystroke or mouse-move.

Pure pipe:
Angular executes a pure pipe only when it detects a pure change to the input value. A pure change is either a change to a primitive input value (String, Number, Boolean, Symbol) or a changed object reference (Date, Array, Function, Object).